<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests">
  <test name="Test1">
    <classes>
      <class name="qedge.feb22.FirstTestNGClass"/>
      
    </classes>
  </test>
   <test name="Test2">
    <classes>
      
      
      <class name="qedge.feb22.SecondTestNGClass"/>
    </classes>
  </test>
   <test name="Test3">
    <classes>
     
      <class name="qedge.feb22.ThirdTestNGClass"/>
     
    </classes>
  </test> <!-- Test --> <!-- Test --> <!-- Test -->
</suite> <!-- Suite -->
